<h1><%= current_user.first_name %>'s Favourite Posts</h1>

<% @favourites.each do |favourite| %>
  <div>
    <%= link_to favourite.post.title, post_path(favourite.post) %> by <%= favourite.post.author %>
  </div>
  <hr>
<% end %>
